{% extends "base.html" %}
{% load static %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}

<style>
    
    .banner-card{
        position:relative;
        width:100%;
    }
    .banner-card img{
        position:relative;
        width:100%;
        height:600px;
    }
    .banner-text{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding:30px;
        color:white;
        font-family: Georgia, serif;
    }
    .banner-card1{
        position:relative;
        width:100%;
        overflow:hidden;
    }
    .banner-card1 img{
        position:relative;
        width:100%;
        height:320px
    }
    .banner-card1 img:hover{
        transform:scale(1.2);
        transition:.4s;
    }
    .banner-text1{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        color:white;
        font-family: Georgia, serif;
    }

</style>

{% endblock css %}

{% block body %}
<div>
    <div class="banner-card" > 
        <img id="images" class="col col-lg-12" src="{% static "img/3.webp" %}">
        {% comment %} <div class="banner-text">
            <h1 class="text-dark">Welcome to Farmer's Friend!</h1>
            <h3>We help Farmer's in any way possible.</h3>
        </div> {% endcomment %}
    </div>
    <section>
        <div data-background="">
            <div class="jumbotron bg-dark text-light text-center">
                <div class=" border border-warning " >
                    <h1 class="display-4 text-warning m-3">What We Do!</h1>
                    <p class="lead ">"Our project specializes in sentiment analysis of social media comments to
                        provide valuable insights for businesses, organizations, and individuals. We are 
                        dedicated to helping our clients gain a deeper understanding of public opinion, 
                        sentiment trends, and brand perception by analyzing the sentiments expressed in social 
                        media discussions."

                    </p>
                </div>
                <hr class="my-4">
                <p>Unlock the potential of sentiment-driven insights with our groundbreaking social media 
                    sentiment analysis tools! Dive into the realm of public perception and brand sentiment by 
                    exploring our advanced sentiment analysis features. Gain deep insights into customer 
                    sentiment, market trends, and brand perception to make data-driven decisions that enhance 
                    your online presence and engagement. Embrace the power of sentiment analysis today and 
                    transform your social media strategy</p>
                <a class="btn btn-outline-warning btn-lg" href="/sentiment" role="button">Try</a>
            </div>
        </div>
    </section>
    <section class="m-3" >
        <div class="row col-lg-12">
            <div class="banner-card1 col col-lg-4" > 
                <img id="images" class="" src="{% static "img/1.jpg" %}">
                {% comment %} <div class="banner-text1">
                    <h1>We Will Tell You What To Grow!</h1>
                </div> {% endcomment %}
            </div><div class="banner-card1 col col-lg-4" > 
                <img id="images" class="" src="{% static "img/2.jpeg" %}">
                {% comment %} <div class="banner-text1">
                    <h1>Farmer's Friend</h1>
                    <h1>Saved My Crops!</h1>
                </div> {% endcomment %}
            </div><div class="banner-card1 text-dark col col-lg-4" > 
                <img id="images" class="" src="{% static "img/4.png" %}">
                {% comment %} <div class="banner-text1">
                    <h1>We will help you Grow Greatness!</h1>
                </div> {% endcomment %}
            </div>
        </div>
    </section>
    <section class="jumbotron bg-dark text-light text-center" >
        <div class="">
            <div class=" border border-warning " >
                <h1 class="display-4 text-warning m-3">How it is Done!</h1>
                    <p class="lead ">"Using state-of-the-art natural language processing (NLP) and machine 
                        learning techniques, we analyze text data from various social media platforms such as 
                        Twitter, Facebook, Instagram, and Reddit. Our sophisticated algorithms parse through 
                        millions of comments, tweets, and posts to extract sentiment indicators and trends."

                </p>
            </div>
            <hr class="my-4">
        </div>
    </div>
    </section>
    
</div>
{% endblock body %}

