{% extends "base.html" %}
{% load static %}
{% block Communityactive %}
active 
{% endblock Communityactive %}

{% block js %}
<script>
    {% comment %} let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element)=>{
        element.innerHTML = element.innerText;
    }) {% endcomment %}
</script>
{% endblock js %}

{% block body %}
<div class="container my-3">
    <h2 class="text-warning text-center">Welcome to our ProofBit Setiment Analyzer :-</h2>
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form class="p-4 bg-light border bg-dark" style="border-radius:20px" action="{% url "SentimentAnalysis:formresult" %}" method="post">
              {% csrf_token %}
                <h2 class="text-center text-light mb-4">Check Sentiment of Your Comments here...</h2>
              <div class="form-group">
                <textarea type="text" class="form-control bg-dark text-light" rows="5" name="comment" id="comment" placeholder="Enter your comment for analysis..."></textarea>
              </div>
              {% if user.is_authenticated %}
                <button type="submit" class="btn btn-warning btn-block">Submit</button>
              {% else %}
                <badge class="btn btn-danger disabled" type="">Please Login!</badge>
              {% endif %}
            </form>
          </div>
        </div>
    </div>     
    {% if comment == 'Positive' %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="text-center m-5 text-light bg-dark p-4 rounded">
            <hr class="bg-warning mb-4">
            <h1>The Inputed comment is {{comment}}</h1>
            <img src="{% static "img/happy2.png" %}" alt="Your Image" class="img-fluid mt-4 rounded-circle" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>
    {% elif comment == 'Neutral' %}    
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="text-center m-5 text-light bg-dark p-4 rounded">
            <hr class="bg-warning mb-4">
            <h1>The Inputed comment is {{comment}}</h1>
            <img src="{% static "img/neutral.png" %}" alt="Your Image" class="img-fluid mt-4 rounded-circle" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>
    {% elif comment == 'Negative' %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="text-center m-5 text-light bg-dark p-4 rounded">
            <hr class="bg-warning mb-4">
            <h1>The Inputed comment is {{comment}}</h1>
            <img src="{% static "img/angry.png" %}" alt="Your Image" class="img-fluid mt-4 rounded-circle" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>
    {% endif %} 
</div>
{% endblock body %}